[Desktop Entry]
Type=Application
Name=Stopwatch
Categories=Applications;
Exec=env QT_QUICK_CONTROLS_STYLE=Nemo /usr/bin/asteroid-stopwatch
Icon=icon-app-texteditor
X-Desktop-File-Install-Version=0.20
