[Desktop Entry]
Type=Application
Name=Stopwatch
Categories=Applications;
Exec=env QT_QUICK_CONTROLS_STYLE=Asteroid /usr/bin/asteroid-stopwatch
Icon=clock
X-Desktop-File-Install-Version=0.20
